<a href="https://colab.research.google.com/github/SampreethAvvari/SampreethAvvari/blob/main/spa9659_HW1_dsbootcamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Display Fibonacci Series upto 10 terms

In [29]:
print("index\tnumber")
a=0
b=1
print("1\t", a)
i=0
for idx,i in enumerate(range(9)):
  temp=a
  a=b
  b=temp + b
  print(idx+2,"\t",a)
  i+=i

index	number
1	 0
2 	 1
3 	 1
4 	 2
5 	 3
6 	 5
7 	 8
8 	 13
9 	 21
10 	 34

Display numbers at the odd indices of a list

In [18]:
l:list = [1,2,3,4,5,6,7,8,9,10]
print(l[::2])

[1, 3, 5, 7, 9]

Print a list in reverse order

In [19]:
l:list = [1,2,3,4,5,6,7,8,9,10]
print(l[::-1])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

Your task is to count the number of different words in this text:

string = """
	ChatGPT has created this text to provide tips on creating interesting paragraphs.
	First, start with a clear topic sentence that introduces the main idea.
	Then, support the topic sentence with specific details, examples, and evidence.
	Vary the sentence length and structure to keep the reader engaged.
	Finally, end with a strong concluding sentence that summarizes the main points.
	Remember, practice makes perfect!
	"""

In [23]:
string = """ ChatGPT has created this text to provide tips on creating interesting paragraphs. First, start with a clear topic sentence that introduces the main idea. Then, support the topic sentence with specific details, examples, and evidence. Vary the sentence length and structure to keep the reader engaged. Finally, end with a strong concluding sentence that summarizes the main points. Remember, practice makes perfect! """
print(len(string.split()))

62

Write a function that takes a word as an argument and returns the number of vowels in the word

In [28]:
def vowels(word):
  return sum(True for char in word.lower() if char in 'aeiou')

word1 = "sAmpreeth"
vowels(word1)

3

Iterate through the following list of animals and print each one in all caps.

animals=['tiger', 'elephant', 'monkey', 'zebra', 'panther']

In [30]:
animals=['tiger', 'elephant', 'monkey', 'zebra', 'panther']
for animal in animals:
  print(animal.upper())

TIGER
ELEPHANT
MONKEY
ZEBRA
PANTHER

Iterate from 1 to 15, printing whether the number is odd or even

In [36]:
print("Number\tOdd/Even")
for i in range(1,16):
  print(i,"\t","Even"if(i%2==0)else"Odd")

Number	Odd/Even
1 	 Odd
2 	 Even
3 	 Odd
4 	 Even
5 	 Odd
6 	 Even
7 	 Odd
8 	 Even
9 	 Odd
10 	 Even
11 	 Odd
12 	 Even
13 	 Odd
14 	 Even
15 	 Odd

Take two integers as input from user and return the sum

In [64]:
try:
  print("Enter Number 1")
  num1 = int(input())
  print("Enter Number 2")
  num2 = int(input())
  print("The sum of the two numbers is", num1 + num2)
except:
  print("Inputs should be integers")

Enter Number 1
22
Enter Number 2
zds'
Inputs should be integers